<div class="tab-pane fade in active">
    <div class="form-horizontal">
        <h4 class="head text-center">{{vm.title}}</h4>
        <p class="narrow text-center" id="result">
        Here is a copy of the information you have entered:
   		</p>
        <br/>
           <div class='row'>
		        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-offset-4 col-md-8'>
		            <div class="row">
		                <div class='col-xs-3 col-sm-2'>
		                    <div class="form-group">
		                        <label class="control-label" for="name">Name: </label> 
		                    </div>
		                </div>
		                <div class='col-xs-9 col-sm-10'>
		                    {{vm.formData.firstName + ' ' + vm.formData.lastName}}
		                </div>
		            </div>
		            <div class="row">
		                <div class='col-xs-3 col-sm-2'>
		                    <div class="form-group">
		                        <label class="control-label" for="email">Email: </label> 
		                    </div>
		                </div>
		                <div class='col-xs-9 col-sm-10'>
		                    {{vm.formData.email}}
		                </div>
		           </div>     
		            <div class="row">
		                <div class='col-xs-3 col-sm-2'>
		                    <div class="form-group">
		                        <label class="control-label" for="work">Work: </label> 
		                    </div>
		                </div>
		                <div class='col-xs-9 col-sm-10'>
		                    {{vm.formData.work}}
		                </div>
		           </div>     
		           <div class="row">
		                <div class='col-xs-3 col-sm-2'>
		                    <div class="form-group">
		                        <label class="control-label" for="address">Address: </label>
		                    </div>
		                </div>
		                <div class='col-xs-9 col-sm-10'>
		                    {{vm.formData.street}}
		                    </br>
		                    {{vm.formData.city + ' ' + vm.formData.state + ' ' + vm.formData.zip}}
		                </div>
		            </div>
		        </div>
		    </div>
 
        <div class="form-group text-center">
            <a ui-sref="form.work" class="btn btn-outline-rounded btn-default"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</a>
            <a ui-sref="form.result" class="btn btn-outline-rounded btn-info"> Submit <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
</div>