<div class="tab-pane fade in active">
    <div class="form-horizontal">
        <h4 class="head text-center">{{vm.title}}</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="form-group">
                    <label class="control-label" for="street">Street Address</label>  
                    <input class="form-control input-md" id="street" name="street" type="text" placeholder="Street Address" ng-model="vm.formData.street">
                </div>   
                <div class="row">
                    <div class='col-xs-12 col-sm-5'>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>  
                            <input class="form-control input-md" id="city" name="city" type="text" placeholder="City" ng-model="vm.formData.city">
                        </div>
                    </div>
                    <div class='col-xs-4 col-sm-offset-1 col-sm-2'>
                        <div class="form-group">
                            <label class="control-label" for="state">State</label>  
                            <input class="form-control input-md" id="state" name="state" type="text" placeholder="State" ng-model="vm.formData.state">
                        </div>
                    </div>
                    <div class='col-xs-offset-1 col-xs-7 col-sm-offset-1 col-sm-3'>
                        <div class="form-group">
                            <label class="control-label" for="zip">Zip</label>  
                            <input class="form-control input-md" id="zip" name="zip" type="text" placeholder="Zip" ng-model="vm.formData.zip">
                        </div>  
                    </div> 
                </div>
            </div>
        </div>
 
        <div class="form-group text-center">
            <a ui-sref="form.work" class="btn btn-outline-rounded btn-default"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</a>
            <a ui-sref="form.result" class="btn btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
</div>