<div class="row">
    <div class="board">
        <!-- Circular Tab Area -->
        <div class="board-inner" id="status-buttons">
            <ul class="nav nav-tabs" id="myTab">
                <div class="liner"></div>
 
                <!-- circular user icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".personal" data-toggle="tab" title="User Type">
                        <span class="round-tabs one">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    </a>
                </li>
 
                <!-- circular tasks icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".work" data-toggle="tab" title="Identification">
                        <span class="round-tabs two">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </span> 
                    </a>
                </li>
 
                <!-- circular home icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".address" data-toggle="tab" title="Contact">
                        <span class="round-tabs three">
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                    </a>
                </li>
 
                <!-- circular ok icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".result" data-toggle="tab" title="Filiation">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </span>
                    </a>
                </li>
                
                <!-- circular ok icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".result" data-toggle="tab" title="Study">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-cloud"></i>
                        </span>
                    </a>
                </li>
                
                
                <!-- circular ok icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".result" data-toggle="tab" title="Work">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>
                    </a>
                </li>
                
                
                <!-- circular ok icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".result" data-toggle="tab" title="Review">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-check"></i>
                        </span>
                    </a>
                </li>
                
                <!-- circular ok icon -->
                <li>
                    <a ui-sref-active="active" ui-sref=".result" data-toggle="tab" title="Confirmation">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>
                
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Circular Tab Area -->
 
        <!-- Content Area -->
        <div class="tab-content">
            <!-- Nested view  -->
            <div ui-view></div>
        </div>
        <!-- End Content Area -->
    </div>
 
    <!-- For Debugging: show our formData as it is being typed -->
    <pre>{{ vm.formData | json }}</pre>
 
</div>