<div class="tab-pane fade in active">
    <h3 class="head text-center">{{vm.title}}</h3>
    <h4 class="text-center">
        Made with <i class="fa fa-heart heart" style="color:#f48260;"></i> by <a href="http://www.nextigen.com/" target="_blank">NextiGen</a>
    </h4>
    </p>
    <br/>
    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-offset-4 col-md-8'>
            <div class="row">
                <div class='col-xs-3 col-sm-2'>
                    <div class="form-group">
                        <label class="control-label" for="name">Name: </label> 
                    </div>
                </div>
                <div class='col-xs-9 col-sm-10'>
                    {{vm.formData.firstName + ' ' + vm.formData.lastName}}
                </div>
            </div>
            <div class="row">
                <div class='col-xs-3 col-sm-2'>
                    <div class="form-group">
                        <label class="control-label" for="email">Email: </label> 
                    </div>
                </div>
                <div class='col-xs-9 col-sm-10'>
                    {{vm.formData.email}}
                </div>
           </div>     
            <div class="row">
                <div class='col-xs-3 col-sm-2'>
                    <div class="form-group">
                        <label class="control-label" for="work">Work: </label> 
                    </div>
                </div>
                <div class='col-xs-9 col-sm-10'>
                    {{vm.formData.work}}
                </div>
           </div>     
           <div class="row">
                <div class='col-xs-3 col-sm-2'>
                    <div class="form-group">
                        <label class="control-label" for="address">Address: </label>
                    </div>
                </div>
                <div class='col-xs-9 col-sm-10'>
                    {{vm.formData.street}}
                    </br>
                    {{vm.formData.city + ' ' + vm.formData.state + ' ' + vm.formData.zip}}
                </div>
            </div>
        </div>
    </div>
</div>