<div class="tab-pane fade in active">
    <h4 class="head text-center">{{vm.title}}</h4>
    <br/>
    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="firstname">First Name</label>  
                        <input class="form-control input-md" id="firstname" name="firstname" type="text" placeholder="First Name" ng-model="vm.formData.firstName">   
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="lastname">Last Name</label>  
                        <input class="form-control input-md" id="lastname" name="lastname" type="text" placeholder="Last Name" ng-model="vm.formData.lastName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input class="form-control input-md" id="email" name="email" type="text" placeholder="Email" ng-model="vm.formData.email">
            </div>
 
            <div class="form-group text-center">
                <a ui-sref="form.work" class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>